@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	background-color: #505050;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color:black;
}

img:first-of-type {
	width: 30%
	position: relative;
	bottom: 300px;
	right: 30px;
}
